html {
    font-size: 62.5%;

}


body {
    background-color: #f5f5f5;
      font-family: 'Open Sans', sans-serif;
}


.main-container {
     display: block;
    width: 100vw;
    margin: 0 auto;

}

.container{
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
     margin: 0 auto;
}


header {
     background-color: #fff;
     display: block;
    float: left;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #254159 ;
    

}

h1{
    font-size: 2.4rem;
    color: #254159;
    margin-bottom: 20px;
}
h2{
    font-size: 2rem;
     color: #254159;
     margin-bottom: 20px;
}

h3{
    font-size: 1.8rem;
     color: #254159;
     margin-bottom: 20px;
     padding-top: 10px;
}

p{
    margin-bottom: 20px;
    line-height: 1.6;
}

h4{
    font-size: 1.3rem;
     color: #254159;
     margin-bottom: 20px;
     padding-top: 10px;
}

section{
    display: block;
    float: left;
    font-size: 1.5rem; /*15px*/
    width: 100%;
    padding: 20px;
    background-color: #fff;
}

section nav{
    display: block;
    float: left;
    width: 30%;


}

nav li{
    margin: 1px 20px 1px 0;
    padding: 10px;
    background-color: #efefef;
}

nav li:hover{
   background-color: #dfdfdf;
}

nav a{
    text-decoration: none;
    color: #254159;
}

nav a:hover{
    color: #385874;
}

section article{
    display: block;
    float: left;
    width: 70%;
    


}

footer {
    background-color: #254159;
    color: #fff;
    display: block;
    float: left;
    width: 100%;
    padding: 20px;
}
ol{
    margin-left: 30px;
}

ol li{
    font-size: 1.4rem;
    color: #454545;
    line-height: 1.6;
}
img{
    max-width: 100%;
    height: auto;
}

#tenho-interesse, .cog-1{
    background-color: #b8c8d6 !important;
    width: 100%;
}

h1 .cog-heading{
    color: #254159;
}

footer p{
    font-size: 1.4rem;
}

footer small{
    font-size: 80%;
    display: block; /*quebra linha*/
}

.cog-1{
    --form__background-color:
      visibility: hidden !important;
    color: #385874 !important;

}

.cog-label{
    visibility: hidden !important;
}

span .cog-branding__powered{
    visibility: hidden !important;
}
html .cog-branding--minimal, html .cog-branding--minimal *, :root:root:root:root:root .cog-branding--minimal, :root:root:root:root:root .cog-branding--minimal * {visibility: hidden !important;}

html .cog-abuse ul, :root:root:root:root:root .cog-abuse ul {visibility: hidden !important;}

.cognito {
    height: 500px !important;
    overflow: hidden !important;;
}

@media (max-width: 425px) {
    section nav, section article {
        width: 100%;
    }

    .container {
        padding-left: 1%;
        padding-right: 1%;
    }
}
